<div id="banner">
    <img id="face-img" src="images/face.jpg">
    <h1 id="banner-name">JUAN PABLO SOLARTE</h1>
    <p id="banner-profession">Software Engineer</p>
    <div id="links-container">
        <div class="center-content-h">
            <a href="https://www.linkedin.com/in/juan-pablo-solarte-hoyos-884451235/" target="_blank">
                <img class="icon-home" src="icons/linkedin_icon.svg">
            </a>
        </div>
        <div class="center-content-h">
            <a href="https://github.com/juansolarteh" target="_blank">
                @if (!isDarkMode) {
                <img class="icon-home" src="icons/github_light_icon.svg">
                }
                @else {
                <img class="icon-home" src="icons/github_dark_icon.svg">
                }
            </a>
        </div>
    </div>
</div>