<custom-header [autoScrollSections]="true">
    <header-item [sectionElement]="homeSection">HOME</header-item>
    <header-item [sectionElement]="aboutSection">ABOUT</header-item>
    <header-item [sectionElement]="worExperienceSection" class="mobile-tab">WORK EXPERIENCE</header-item>
    <header-item [sectionElement]="skillsSection">SKILLS</header-item>
    <header-item [sectionElement]="projectsSection">PROJECTS</header-item>
</custom-header>
<div id="body-container">
    <div #homeSection id="home-section" class="section">
        <home-section [isDarkMode]="isDarkMode"></home-section>
    </div>
    <div #aboutSection id="about-section" class="section">
        <about-section></about-section>
    </div>
    <div #worExperienceSection id="work-experience-section" class="section">
        <div style="background-color: green;">asd</div>
    </div>
    <div #skillsSection id="skills-section" class="section">
        <div style="background-color: green;">asd</div>
    </div>
    <div #projectsSection id="projects-section" class="section">
        <div style="background-color: red;">asd</div>
    </div>
</div>
<div class="floating-section">
    <div id="email-container">
        {{email}}
    </div>
    <button class="email-button" (click)="copyEmail()">
        <img src="icons/clone-solid.svg">
        <span class="tooltip">Copy</span>
    </button>
    <button class="email-button" (click)="sendMessage()">
        <img src="icons/envelope-solid.svg">
        <span class="tooltip">Send email</span>
    </button>
</div>
<button class="floating-button" (click)="toggleTheme()">
    @if (!isDarkMode) {
    <img src="icons/dark_mode_icon.svg">
    }
    @else {
    <img src="icons/light_mode_icon.svg">
    }
</button>