custom-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#home-section {
    background-image: var(--background-image);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#about-section {
    background-color: var(--background-color-secondary);
}

#work-experience-section {
    background-color: var(--background-color);
}

#skills-section {
    background-color: var(--background-color-secondary);
}

#projects-section {
    background-color: var(--background-color);
}

.floating-section {
    position: fixed;
    bottom: 25px;
    left: 15px;
    display: flex;
    /* Añadir flex para que el contenedor maneje los elementos correctamente */
    justify-content: flex-start;
    /* Alinea los elementos de izquierda a derecha */
    align-items: center;
    /* Centra los elementos verticalmente */
}

#email-container {
    border: solid 2px var(--principal-color);
    box-shadow: 0 0 6px 0px black;
    padding: 0.3em;
    padding-right: 5em;
    max-height: 2.1em;
    border-radius: 3px;
    background-color: var(--background-color-secondary);
    flex-grow: 1;
    /* Esto hace que el contenedor de correo ocupe el espacio disponible */
    display: flex;
    align-items: center;
    /* Alinea el contenido del contenedor verticalmente */
    font-size: 1.2em;
    /* Ajusta el tamaño de la fuente si es necesario */
}

.email-button {
    box-shadow: 0 0 6px 0px black;
    margin-left: 2px;
    background-color: var(--principal-color);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 100%;
    /* Esto hace que el botón ocupe el 100% de la altura de su contenedor */
    padding: 0.5em;
    /* Ajusta el padding si es necesario */
    width: 2.3em;
    /* Ajusta el ancho del botón */
}

.tooltip {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 4px 8px;
    border-radius: 4px;
    position: absolute;
    bottom: 125%;
    /* arriba del botón */
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.2s;
}

.email-button:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.floating-button {
    position: fixed;
    bottom: 20px;
    right: 15px;
    width: 50px;
    height: 50px;
    background-color: var(--principal-color);
    color: #ffffff;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--principal-color-hover);
}

@media (max-width: 768px) {
    #face-img {
        width: 12rem;
        height: 12rem;
    }

    #email-container {
        padding: 0.3em;
    }
}