<div class="center-content-h">
    <div class="single-icon-container">
        <img src="icons/circle-info-solid.svg">
    </div>
</div>
<h2>About me</h2>

<div class="grid-two">
    <div>
        <h3>Profile</h3>
        <p><span>Hello! I'm Juan Pablo,</span> and I have over 2 years of experience in the software industry. I'm passionate
            about software development, with a constant focus on software effectiveness and maintainability. I'm a good team
            player-analytical and a problem solver-backed by experience in various roles.</p>
    </div>
    <div>
        <h3>Education</h3>
        <div class="center-content-h">
            <div id="education-container">
                <div class="single-icon-container">
                    <img src="icons/graduation-cap-solid.svg">
                </div>
                <div id="education-text">
                    <p><span>Software Engineering</span></p>
                    <p>June 2017 - May 2025, Popayán, Colombia</p>
                </div>
            </div>
        </div>
    </div>
</div>